<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.system.mapper.UserMapper">
    <select id="queryResourceListByUserId" parameterType="java.lang.Long" resultType="com.hr.system.entity.Resource">
        SELECT id, res_key, res_name, parent_id FROM resource WHERE id IN (
            SELECT resource_id FROM role_resource WHERE role_id IN (
                SELECT role_id FROM user_role WHERE user_id = #{id}
            )
        );
    </select>
</mapper>
